.singleFlightDetailContainer{
    width: 80%;
    margin: 20px auto;
}


@media only screen and (max-width: 1000px) {
    .singleFlightDetailContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .singleFlightDetailContainer{
        width: 100%;
    }
}