.singleHotelComponentContainer{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 10px;
    box-sizing: border-box;
    gap:10px;
    margin-left: 10px;
}
.hotelComponentImage{
    position: relative;
    flex:1.5;
}
.hotelComponentImage img{
  border-radius: 10px;
  object-fit: cover;
}
.hotelComponentLeafImage{
    height: 20px;
    width: 30px;
}
.heartIcon{
    position: absolute;
    height:40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    top:7px;
    right:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hotelComponentText{
    flex:4;
    padding:10px 20px;

}
.hotelComponentHeader{
    font-size: 24px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color: #0d6ecf;
}
.showOnMap{
    margin-top: 7px;
    font-size: 14px;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color: #0d6ecf;

}
.showOnMap span{
    font-size: 14px;
    margin-right: 10px;
    text-decoration: underline;
}
.hotelComponentDescription{
    margin-top: 7px;
    font-size: 13px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.hotelComponentRating{
    flex:1.2;
    padding: 10px 0;
}
.hotelComponentRatingTextAndButton{
    display: flex;
}
.hotelComponentRatingBoldText{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
.hotelComponentRatingLightText{
    margin-top: -2px;
    font-size: 14px;
    font-weight: 400;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    text-align: end;
}
.hotelComponentRatingButton{
    margin-left: 10px;
}

.hotelComponentRatingButton button{
    padding:7px 5px;
    background-color: rgb(8, 8, 201);
    color:white;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}
.hotelComponentRatingBottomButton{
    margin-top: 20px;
    display: flex;
    margin-left: 12px;
}
.hotelComponentRatingBottomButton button{
    padding:10px;
    background-color: rgb(34, 100, 187);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    
}