.flightFilterBoldText{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.flightFilterLightText{
    font-size: 16px;
    color:grey;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.filterStopsContainerHeaderText{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 30px;
}
.stopsRadioContainer{
    
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    
}
.stopsRadioContent{
    display: flex;
    padding-right: 20px;
    gap:10px;
    font-size: 16px;
    
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.stopsRadioContent input{
    height: 20px;
    width: 20px;
}
.filterCheckBoxContainerHeaderText{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 30px;
}
.filterCheckBoxContent{
    display: flex;
    gap:10px;
}
.flightTimesHeader{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 30px;
}
.flightTimesButtons{
    display: flex;
    padding-right: 20px;
}
.flightTimesButtons button{
    display: flex;
    justify-content: center;
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    padding: 20px 0;
    cursor: pointer;
}
.flightTimesButtons button:hover{
    background-color: rgb(245, 241, 241);
}