.propertySliderContainer{
    width: 80%;
    margin:50px auto;
}
.propertySlider{
    margin-top: 5px;
    position: relative;
}
.sliderLeft{
    position: absolute;
    left:0%;
    top:35%;
    z-index: 3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
}
.sliderRight{
    position: absolute;
    right:-0.5%;
    top:35%;
    z-index: 3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px grey;
}

.propertySliderText{
    font-size: 24px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.SliderCard{
    /* height: 15rem; */
    padding: 20px !important;

    
}
.SliderCardText{
    font-size: 18px;
    font-weight: 700;
    margin-top: 7px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.SliderCard img{
    
    width: 95%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    max-height: 14rem;
    
}

@media only screen and (max-width: 900px) {
    .propertySliderContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .propertySliderContainer{
        width: 100%;
    }
}