.bookingConfirmedContainer{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookingContent{
    display: flex;
    align-items: center;
}
.bookingText{
    font-size: 40px;
    font-weight: 700;
}
.bookingId{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}