.navbar{
    width:100%;
    /* outline:1px solid red; */
    height:130px;
    background-color: #003b95;
    position: relative;
}
.navbarLogoAndIcon{
    width: 80%;
    display: flex;
   
    /* outline: 1px solid red; */
    height:50px;
    margin:10px auto;
    position: absolute;
    top:0px;
    left:10%;
    justify-content: space-between;
}
.navbarLogo{
    font-size: 28px;
    font-weight: 700;
    color:rgb(243, 239, 239);
    height: 50px;
    display: flex;
    align-items: center;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.navbarIcon{
    display: flex;
    align-items: center;
    gap:10px;
}
.INR{
    font-size: 18px;
    font-weight: 700;
    color:white;
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.INR:hover{
    background-color: #034ebe;
}

.indianFlag{
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.indianFlag img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
.indianFlag:hover{
    background-color: #034ebe;
}
.questionMark{
    height: 50px;
    width:50px;
    font-size: 25px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.questionMark:hover{
    background-color: #034ebe;
}
.listYourProperty{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
    color:white;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.listYourProperty:hover{
    background-color: #034ebe;
}
.navbarRegisterButton{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    

}
.navbarRegisterButton:hover{
    background-color: #034ebe;
}

.navbarRegisterButton button{
    padding:10px 15px;
    border: none;
    outline: none;
    background-color: white;
    color:blue;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.navbarSigninButton{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;

}
.navbarSigninButton button{
    padding:10px 15px;
    border: none;
    outline: none;
    background-color: white;
    color:blue;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.navbarSigninButton:hover{
    background-color: #034ebe;
}
.userIcon{
    height: 50px;
    width:50px;
    font-size: 25px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;

}
.userIcon:hover{
    background-color: #034ebe;
}
.staysFlightButtons{
    position: absolute;
    top:65px;
    left:10%;
    display: flex;
    /* outline: 1px solid red; */
    /* height:40px; */
}
.staysFlightButtons button{
    height:45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #003b95;
    margin-right: 7px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
.staysFlightButtons button:hover{
   
    border-radius: 25px;
    background-color: #034ebe;
}

@media only screen and (max-width: 1200px){
    .navbarLogoAndIcon{
        width: 87%;
    }
}

@media only screen and (max-width: 1100px) {
    .navbarLogo{
        font-size: 24px;
    }
    .INR{
        display: none;

    }
    .indianFlag{
        display: none;
    }
    .questionMark{
        display: none;
    }
    .listYourProperty{
        display: none;
    }
    .listYourProperty{
        display: none;
    }
    .navbarRegisterButton{
        display: none;
    }
    .navbarSigninButton{
        display: none;
    }
    .userIcon{
        display: flex;
    }
}