.singleHotelDetailContainer{
    margin: auto ;
    width: 80%;
}
.singleHotelDetailTopHeader{
    margin-top: 10px;
    font-size: 14px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
}
.AvailabilityHeader{
    font-size: 24px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.AvailabilityContainer{
    display: flex;
    height: 300px;
   
    margin-bottom: 30px;
}
.AvailabilitySection{
    margin-top: 30px;
    margin-bottom: 30px;
}
.roomType{
    flex:2.7;
    /* outline: 1px solid red; */

}
.numberOfGuests{
    flex:1;
    /* outline: 1px solid red; */
}
.availabilityPrice{
    flex:1.3;
    /* outline: 1px solid red; */
}
.roomTypeHeader{
    height: 30px;
    background-color: #034ebe;
    color:white;
    font-size: 16px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
}
.numberOfGuestsHeader{
    height: 30px;
    background-color: #034ebe;
    color:white;
    font-size: 16px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
}
.availabilityPriceHeader{
    height: 30px;
    background-color: #034ebe;
    color:white;
    font-size: 16px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    display: flex;
    align-items: center;
}
.AvailabilityHotelNameAndBedCount{
    padding: 10px;
    border-bottom: 3px solid #034ebe;
}
.AvailabilityHotelName{
    font-size: 16px;
    font-weight: 700;
    color: #034ebe;
    text-decoration: underline;

}
.AvailabilityHotelBedCount{
    font-size: 14px;
    margin-top: 5px;
}
.guestBox{
    padding: 20px;
    border-top: 3px solid #034ebe;
    border-left: 3px solid #034ebe;
    border-right: 3px solid #034ebe;
    box-sizing: border-box;
}
.availabilityButton{
   height: 61px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 3px solid #034ebe;
   
}
.availabilityButton button{
    width:90%;
    height: 65%;
    background-color:#034ebe;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 1000px) {
    .singleHotelDetailContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .singleHotelDetailContainer{
        width: 100%;
    }
}