.singleHotelDetailContainer{
    margin: auto ;
    width: 80%;
}
.singleHotelDetailTopHeader{
    margin-top: 10px;
    font-size: 14px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
}



@media only screen and (max-width: 1100px) {
    .singleHotelDetailContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .singleHotelDetailContainer{
        width: 100%;
    }
}

