.NoPaymentContainer{
    display: flex;
    justify-content: space-between;
    padding:15px;
    border: 1px solid rgb(223, 219, 219);
    border-radius: 10px;
    

}

.NoPaymentBoldText{
    font-size: 22px;
    font-weight: 700;
    color: rgb(46, 46, 46);
}
.NoPaymentLightText{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(46, 46, 46);
}