.trendingCitiesContainer{
    margin-top: 30px;
    width: 100%;
}
.trendingCitiesHeaderText{
    font-size: 24px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.trendingCitiesLightText{
    margin-top: 5px;
    font-size: 18px;
    color: grey;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.trendingCitiesImages{
    display: flex;
    gap:10px;
    margin-top: 20px;

}
/* .trendingCitiesSingleImage{
    width: 23%;
} */
.trendingCitiesSingleImage img{
    border-radius: 10px;
   
}
.trendingCitiesImageText{
    font-size: 20px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin-top: 20px;
}
.trendingCitiesImageLightText{
    margin-top: 5px;
    font-size: 14px;
    color: grey;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
    padding-right: 20px;
}
.TrendingSliderCard{
    margin-top: 20px;
}
.TrendingSliderCard img{
    width: 95%;
    border-radius: 10px;
    height: 13rem;
}

/* @media only screen and (max-width: 1000px) {
    .trendingCitiesImages{
        flex-wrap: wrap;
    }
} */
a{
    list-style: none;
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 767px) {
    .trendingCitiesImages{
        flex-wrap: wrap;
        justify-content: center;
    }
}