.hotelListContainer{
    width: 80%;
    margin: 10px auto;

}
.upperText{
    font-size: 14px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.FilterHotelList{
    display: flex;
    margin-top: 20px;
    /* height: 300px; */
}
.FilterHotels{
    flex:1;
    /* outline: 1px solid red; */
    box-sizing: border-box;
    
    border: 1px solid rgb(223, 219, 219);
    border-radius: 10px;
    
}
.searchResultsText{
    font-size: 22px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    padding-left: 10px;
}
.HotelListFilterBox{
    margin-left: 15px;
    margin-top: 20px;
    padding:10px 14px;
    border:1px solid grey;
    border-radius: 30px;
    display: inline-block;
    
    
    font-size: 16px;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
    position: relative;
}
.HotelListFilterBox:hover{
    background-color: rgb(243, 241, 241);
}
.HotelsContainer{
    flex:3;
    /* outline: 1px solid red; */
}
.filterHeading{
    font-size: 18px;
    font-weight: 700;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    padding: 10px;
}
@media only screen and (max-width: 1000px) {
    .hotelListContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .hotelListContainer{
        width: 100%;
    }
    .FilterHotels{
        display: none;
    }
}